<?xml version="1.0"?>

<robot name="mrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find mrobot_gazebo)/urdf/loui_robot_body.urdf.xacro" />
	<xacro:include filename="$(find mrobot_gazebo)/urdf/camera.xacro" />
	<xacro:include filename="$(find mrobot_gazebo)/urdf/imu.xacro" />


	<xacro:property name="camera_offset_x" value="0.21" />
	<xacro:property name="camera_offset_y" value="0" />
	<xacro:property name="camera_offset_z" value="0.02" />

	<!-- imu parameter:0.12 0 0.005 -->
	<xacro:property name="imu_offset_x" value="0.12" />
	<xacro:property name="imu_offset_y" value="0.0" />
	<xacro:property name="imu_offset_z" value="0.005" />

	<!-- Body of mrobot, with plates, standoffs and Create (including sim sensors) -->
	<mrobot_body/>

	<!-- Attach the Kinect -->
	<joint name="camera_joint" type="fixed">
		<origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
		<parent link="plate_1_link"/>
		<child link="camera_link"/>
	</joint>

	<xacro:usb_camera prefix="camera"/>

	<joint name="imu_joint" type="fixed">
		<origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0" />
		<parent link="base_link"/>
		<child link="imu_link"/>
	</joint>

	<xacro:imu prefix="imu"/>

</robot>
